<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/cssbt/bootstrap.css">
    <link rel="stylesheet" href="/css/lp.css" />
</head>
<body>
<!-- //container1 -->
<nav class="navbar sticky-top navbar-dark bg-dark">
    <img src="/images/Screenshot (870).png" alt="" class="nav-img">
    <span class="navbar-text">
      <a href="/login">Login</a><span class="slash">/</span><a href="#">Sign up</a>
    </span>
  </nav>
        <div class="first1">
            <img src="/images/Screenshot (870).png" alt=""><span class="company-name" data-text="serviceDO.com"> serviceDO.com</span> 
            <div class="tagline" data-text="Get job and jobs done.">Get job and jobs done.</div>
        </div>
  <!-- //container2 -->
       <div class="first2">
           <div class="img1">
            <img src="/images/nowWhat.jpg" alt="" class="nowWhat hidel">
            <div class="nowWhatinfo hider">
               Are you tensed about your job? Want to get a good salaried job but thinking how ? Don't worry we have got solutions for you. Just register yourself and find a perfect job for you according to your choice of place of work and your skills. 
            </div>
           </div>
           <div class="img2">
            <div class="whomToEmployinfo hidel">
               Are you a business man, or a hiring manager, a school principal and looking for teachers , or a common man who's got some sudden work? Your search ends here. Find a perfect and skilled employee from thousands of options. Just register and login to serviceDO.com and get your jobs done.
            </div>
            <img src="/images/whomToEmploy.webp" alt="" class="whomToEmploy hider">
           </div>
       </div>

       <div class="first3 hidel">
        <div class="leftside">
            <div class="nearMe">
                Jobs Near Me <span><img src="/images/mapicon.png" alt="" class="mapicon"></span>
            </div>
            <img src="/images/googlemap.jpg" alt="" class="map">
        </div>
        <div class="rightside">
            <div class="up">
                  We have added a new feature by which you can easily find the jobs that are made for you in your own locality.
            </div>
            <div class="down">
                      You just need to allow us to access your location and we will let you know the jobs available for you in your vicinity.
                      Login and search JOBS NEAR ME.
            </div>
        </div>
       </div>
       <div class="first4">
          <div class="left-photo">
            <div class="mnc-img">
                <img src="/images/mnc.jpg" alt="" class="mnc hidel">
                <div class="mncInfo hider butt">Register Your Company/organisation to start posting the day to day stuffs and let others know about the culture of your organisation and attract highly skilled employee who will help you grow more.<button type="button" class="btn btn-primary">Register your company</button></div>
                
            </div>
          </div>
          <div class="right-photo">
            <div class="prof-img">
                <div class="profInfo hidel butt">Let the employers know your skills by posting your acheivements and attract HRs who will offer you a good paying job. Start exploring now.
                    <button type="button" class="btn btn-primary"> <a href="/JobSeeker">Register for corporate job.</a><button>
                </div>
                <img src="/images/professional job.jpg" alt="" class="prof hider">
            </div>
          </div>

       </div>

       <div class="first5">
        <div class="left-photo">
          <div class="mnc-img">
              <img src="/images/common man.jpg" alt="" class="common hidel">
              <div class="mncInfo hider butt">Whether you want to find a worker on temporary basis or even for some hours, like electrician, plumber, coolie, driver and many more just let us know, we will find them for you.<button type="button" class="btn btn-primary"><a href="/employer">Got some work, find a helper.</a></button></div>
          </div>
        </div>
        <div class="right-photo">
          <div class="prof-img">
              <div class="profInfo hidel butt">Do you feel high competition in finding the job of your domain? Are you a teacher, waiter, cleaner or gardener etc? Just let us know what kind of stuffs you do and get your work as sooner as possible. Register here.<button type="button" class="btn btn-primary"><a href="/JobSeeker">Register to get a job.</a></button></div>
              <img src="/images/job seeker.webp" alt="" class="seek hider">
          </div>
        </div>
     </div>
     <footer class="footer">
        <!-- <div class="fb icon"> visit us on Facebook<i class="fa-brands fa-facebook"></i></div>
        <div class="insta icon">Follow us on Instagram<i class="fa-brands fa-instagram"></i></div> 
        <div class="linkedin icon">Follow on LinkedIn<i class="fa-brands fa-linkedin"></i></div> 
        <div class="email icon">Contact us<i class="fa-regular fa-envelope"></i></div>
        <div class="copy icon"><i class="fa-regular fa-copyright copi"></i>All Rights Reserved.</div> -->



        <footer class="footer">
            <div class="container">
               <div class="row">
                   <div class="footer-col">
                       <h4>company</h4>
                       <ul>
                           <li><a href="#">about us</a></li>
                           <li><a href="#">our services</a></li>
                           <li><a href="#">privacy policy</a></li>
                           <li><a href="#">affiliate program</a></li>
                       </ul>
                   </div>
                   <div class="footer-col">
                       <h4>get help</h4>
                       <ul>
                           <li><a href="#">FAQ</a></li>
                           <li><a href="#">shipping</a></li>
                           <li><a href="#">returns</a></li>
                           <li><a href="#">order status</a></li>
                           <li><a href="#">payment options</a></li>
                       </ul>
                   </div>
                   <div class="footer-col">
                       <h4>online shop</h4>
                       <ul>
                           <li><a href="#">watch</a></li>
                           <li><a href="#">bag</a></li>
                           <li><a href="#">shoes</a></li>
                           <li><a href="#">dress</a></li>
                       </ul>
                   </div>
                   <div class="footer-col">
                       <h4>follow us</h4>
                       <div class="social-links">
                           <a href="#"><i class="fab fa-facebook-f"></i></a>
                           <a href="#"><i class="fab fa-twitter"></i></a>
                           <a href="#"><i class="fab fa-instagram"></i></a>
                           <a href="#"><i class="fab fa-linkedin-in"></i></a>
                       </div>
                   </div>
               </div>
            </div>
         </footer>
    <script src="/jsbt/bootstrap.bundle.js"></script>
    <script src="/js/lp.js"></script>
</body>
</html>