.SPHapp {
    display: flex;
  }
  
  .SPHsidebar {
    width: 20%;
    background-color: #f4f4f4;
    padding: 20px;
    border-right: 2px solid #ccc; 
  }
  
  .SPHsidebar h2 {
    margin-bottom: 20px;
  }
  
  .SPHsidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .SPHsidebar ul li {
    margin-bottom: 10px;
    transition: color 0.3s, transform 0.3s;
  }
  
  .SPHsidebar ul li:hover {
    color: red;
    transform: scale(1.1);
    cursor: pointer;
  }
  
  .SPHcontent {
    display: flex;
    width: 80%;
  }
  
  .SPHmain-content {
    width: 70%;
    padding: 20px;
    margin-left: 20px; 
    text-align: center; 
    border-right: 2px solid #ccc; 
  }
  
  .SPHmain-content h2 {
    animation: blink 1s infinite;
    display: inline-block;
    position: relative;
  }
  
  .SPHmain-content h2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: red;
    animation: blink-underline 1s infinite;
  }
  
  @keyframes blink {
    0% { color: red; }
    25% { color: blue; }
    50% { color: green; }
    75% { color: yellow; }
    100% { color: red; }
  }
  
  @keyframes blink-underline {
    0% { background-color: red; }
    25% { background-color: blue; }
    50% { background-color: green; }
    75% { background-color: yellow; }
    100% { background-color: red; }
  }
  
  .SPHpremium-section {
    width: 30%;
    padding: 20px;
    background-color: #e0e0e0;
  }
  
  .SPHpremium-box {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: color 0.3s, transform 0.3s;
  }
  
  .SPHpremium-box:hover {
    color: red;
    transform: scale(1.1);
    cursor: pointer;
  }
  