body{
    background-image:url(/Pics/sarah-dorweiler-x2Tmfd1-SgA-unsplash.jpg) ;
    background-size: cover;
    background-position: 80px center;
    background-attachment: fixed;
    color: rgb(25, 20, 20);
    display: flex;
    align-items: center;
    justify-content: center;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
max-width: 720px;
padding: 28px;
margin: 0 28px;
box-shadow: 1px 0 20px 11px #ABB2B9;
border-radius: 30px;
height: fit-content;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 550px;
}

h1{
    padding: 28px;
    text-align: center;
    
    padding-bottom: 8px;
    border-bottom: 1px solid #d81f1f;
}
.content{
    padding-bottom: 15px;
}
.input-box{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding-bottom: 8px;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    flex-direction: row;
}
.py-4 {
    padding-top: 0rem!important;
    padding-bottom: 0.5rem!important;
}
.input-box label, .gender-title{
    
    color: #171817;
    font-weight: bold;

}
.gender-title{
    font-size: 16px;
}
.input-box input{
    height: 30px;
    width: 95%;
    padding: 0 2px;
    border-radius: 5px;
    border: 1px solid rgb(145, 143, 143);
    outline: none;
    box-shadow: 1px 0 20px 11px #ABB2B9;

}
.input-box input:is(:focus, :valid){
    box-shadow: 0 6px 6px rgba(0,0,0,0.2);
}
.gender-category{
    color: #000204;
}
.gender-category label{
    padding: 0 20px 0 5 px;
    font-size: 14px;
}
.gender-category label, .gender-category input{
    cursor: pointer;
}
.alert p{
    font-size: 14px;
    font-style: italic;
    color: #b85656;
    margin: 5px 0;
    padding: 10px;
}
.alert a{
    text-decoration: none;

}
.alert a:hover{
    text-decoration: underline;
}
.bn{
    margin: 15px 0;

}
.bn button{
    width: 100;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right,#07aa32, #3f6104);
}
.bn button:hover{
    background-image: linear-gradient(to right, #b5a5b5,#9a07aa);
}
