*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 8vh;
}
.nav-content{
    color: White;
    font-size: 1.5rem;
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin-left: auto;
    margin-right: 0;
}
a{
    text-decoration: none;
    color: White;
}
.logo>img{
    height: 5vh;
    width: 3vw;
}
.company{
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1vw;
}
.welcome{
    color: white;
    margin-top: 1vh;
    font-size: 1.3rem;
    margin-left: 2vw;
}
a:hover{
    color: black;
    transform: scale(1.05);
}
.nav-link.active {
    color: black;
  }
  .heading{
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .display-5{
    color: rgb(231, 49, 29);
    font-weight: 400;
  }
  .table{
    width: 50vw;
    height: 65vh;
    margin-top: 2vh;
    margin-left: auto;
    margin-right: auto;
  }
  .edit{
    width: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
  }
  .btn{
    width: 12vw;
    height: 7vh;
    font-size: larger;
    font-weight: 400;
  }
  .btn:hover{
     font-weight: 500;
     background-color: rgb(100, 156, 245);
     color: black;
  }
  .resume-link a{
    color: rgb(60, 60, 231);
    text-decoration: underline;
  }
  .btn a{
    text-decoration: none;
  }